#gridContainer{
    display: flex;
    flex-flow: row wrap;
    padding: 0px;
    margin-top: 0px;
    justify-content: center;
    Height: 600px;
    
    Width: 600px;
    
    
    border: 4px solid rgb(249, 4, 4);
    
    
}

.column {
    /*Style the div so that it's a flexbox with a column main access.
    Set the flex to auto so that the div takes up all available space
    on the main axis (the column in this case)*/
    display: flex; 
    flex-flow: column;
    flex: auto;
    
    

    /*border: 3px solid rgb(236, 64, 230);*/
    
}

.box {
    /*Adjust the height style to evenly fill full height of the column*/
    /*Set the flex to auto so that the flex items take up all available space
    on the main axis (the row in this case)*/
    flex: auto;
    border: 1px solid black;
    
}