#gridContainer{
    display: flex;
    flex-flow: row wrap;
    padding: 0px;
    margin: 60px auto;
    justify-content: center;
    Height: 600px;
    Width: 600px;
}

.column {
    /*Style the div so that it's a flexbox with a column main access.
    Set the flex to auto so that the div takes up all available space
    on the main axis (the column in this case)*/
    display: flex; 
    flex-flow: column;
    flex: auto;
}

.box {
    /*Set the flex to auto so that the flex items take up all available space
    on the main axis (the row in this case)*/
    flex: auto;
    border: 1px solid black; 
}

.color {
    background-color: black;
}

#title,
#rules{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    Padding: 10px;
}

#title{
    font-size: 38px;
    
}

#rules{
    font-size: 26px;
}

li{
    padding: 8px;
}

body{
    background: linear-gradient(to bottom, #33ccff 0%, #ff5050 100%);
}

/*Styling for buttons*/
#size,
#reset{
    background-color: aliceblue;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    width: 200px;
    border-radius: 8px;
    transition: ease-out 0.3s;
}

/*buttons fill with color when pointer hovers*/
#size:hover,
#reset:hover{
    box-shadow: inset 200px 0 0 0 #33ccff;
}